html, body {
    height: 100%;
}

* {
    font-size: 1.1rem;
}

/* * {
    border: 1px red dashed;
} */

button {
    padding: 8px;
    border-radius: 3px;
    background-color: rgba(73, 73, 117, 0.808);
    color: whitesmoke;
    cursor: pointer;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#content_wrapper {
    display: flex;
    flex-flow: column; 
    align-items: center;
    
}

#choice_wrapper {
    width: 33.33%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.input_choice {
    width: 40%;
    border-radius: 3px;
    margin-bottom: 8px;
}

#btn_submit_poll {
    margin-top: 16px;
}

#input_question {
    margin-bottom: 16px;
    width: 33.33%;
}