<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <input type="text" placeholder="Question" id="input_question">
        <div id="choice_wrapper">
            <input class="input_choice" placeholder="Option1" type="text">
            <input class="input_choice" placeholder="Option2" type="text">
            <input class="input_choice" placeholder="Option3" type="text">
            <input class="input_choice" placeholder="Option4" type="text">
            <input class="input_choice" placeholder="Option5" type="text">
        </div>
        <button id="btn_submit_poll">Submit Poll</button>
        
    </div>
    
</body>
</html>